<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Resursbank\Ordermanagement\Block\Adminhtml\Sales\Order\View\Info\PaymentInformation;

/** @var PaymentInformation $block */
/** @var Escaper $escaper */
?>

<?php // Didn't combine if-blocks because PHPStan will complain unnecessarily. ?>
<?php if (empty($block->getPaymentInformation())): ?>
    <div class="field-group">
        <p class="error-message">
            <?= $escaper->escapeHtml(__('Payment information could not be retrieved from Resurs Bank.'))  ?>
        </p>
    </div>
<?php else: ?>
    <section class="admin__page-section resursbank-ordermanagement-payment-information">
        <div class="admin__page-section-title">
            <span class="title">
                <?= $escaper->escapeHtml(__('rb-payment')) ?>
            </span>
            <div class="resursbank-logo">
                <div class="img"></div>
            </div>
        </div>
        <div class="admin__page-section-content">

            <?php // Payment information.?>
            <div class="admin__page-section-item">
                <div class="admin__page-section-item-content">
                    <table class="admin__table-secondary">
                        <tbody>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('ID')) ?>
                                </th>
                                <td>
                                    <?= $escaper->escapeHtml($block->getPaymentInfoId()) ?>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Amount')) ?>
                                </th>
                                <td>
                                    <span class="price">
                                        <?= $escaper->escapeHtml($block->getPaymentTotal()) ?>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Limit')) ?>
                                </th>
                                <td>
                                    <span class="price">
                                        <?= $escaper->escapeHtml($block->getPaymentLimit()) ?>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Status')) ?>

                                </th>
                                <td>
                                    <?= $escaper->escapeHtml(__($block->getPaymentStatus())) ?>

                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Frozen')) ?>
                                </th>
                                <td>
                                    <?= $escaper->escapeHtml(__(($block->isFrozen() ? 'Yes' : 'No'))) ?>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Fraud')) ?>
                                </th>
                                <td>
                                    <?= $escaper->escapeHtml(__(($block->isFraud() ? 'Yes' : 'No'))) ?>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('rb-payment-method')) ?>
                                </th>
                                <td>
                                    <?= $escaper->escapeHtml(__($block->getPaymentMethodName())) ?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <?php // Customer information.?>
            <div class="admin__page-section-item">
                <div class="admin__page-section-item-title">
                    <span class="title">
                        <?= $escaper->escapeHtml(__('Customer')) ?>
                    </span>
                </div>
                <div class="admin__page-section-item-content">
                    <table class="admin__table-secondary">
                        <tbody>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Name')) ?>
                                </th>
                                <td>
                                    <?= $escaper->escapeHtml($block->getCustomerName()) ?>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Address')) ?>

                                </th>
                                <td>
                                    <?php foreach ($block->getCustomerAddress() as $value): ?>
                                        <?= $escaper->escapeHtml($value) ?>
                                        <br />
                                    <?php endforeach; ?>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Telephone')) ?>
                                </th>
                                <td>
                                    <?= $escaper->escapeHtml($block->getCustomerTelephone()) ?>
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    <?= $escaper->escapeHtml(__('Email')) ?>

                                </th>
                                <td>
                                    <?= $escaper->escapeHtml($block->getCustomerEmail()) ?>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
<?php endif; ?>
