<?php
/**
 * Copyright © Resurs Bank AB. All rights reserved.
 * See LICENSE for license details.
 */

declare(strict_types=1);

use Magento\Framework\Escaper;
use Magento\Framework\View\Helper\SecureHtmlRenderer;
use Resursbank\Ordermanagement\Block\Adminhtml\Sales\Order\View\Info\PaymentInformation;

/** @var PaymentInformation $block */
/** @var Escaper $escaper */
/** @var SecureHtmlRenderer $secureRenderer */
$widget = $block->getWidget();

?>

<?php if ($widget !== null): ?>
    <?=
    /* @noEscape */
    $secureRenderer->renderTag(
        tagName: 'style',
        attributes: [],
        content: $widget->css,
        textContent: true
    )
    ?>
    <div id="rb-pi-container">
        <?=
            /* @noEscape */
            $widget->content
        ?>
    </div>
<?php else: ?>
    <div class="field-group">
        <p class="error-message">
            <?= $escaper->escapeHtml(data: __('rb-payment-information-widget-failed-rendering'))  ?>
        </p>
    </div>
<?php endif; ?>
